<IfModule mod_headers.c>    
    Header set Access-Control-Allow-Origin https://www.jysafe.cn
</IfModule>
<IfModule mod_expires.c>
# Enable expirations
# 开启 Expires headers
ExpiresActive On 
# Default directive
# 默认的过期时间
ExpiresDefault "access plus 1 month"
# My favicon
# 针对 ICON 文件的配置
ExpiresByType image/x-icon "access plus 1 year"
# Images
# 针对图片的配置
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
# CSS
# 针对 CSS 文件的配置
ExpiresByType text/css "access 1 month"
# Javascript
# 针对 JavaScript 文件的配置
ExpiresByType application/javascript "access plus 1 year"
</IfModule>
